.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 765px) {
  .App {
    overflow-x: hidden;
  }
}

.btn {
  background: linear-gradient(146deg, #761dfc 46%, #966ad7) !important;
  box-shadow: 1px 1px #761dfc61 !important ;
  border: unset !important;
  padding: 0.7em 1.8em !important;
  /* font-size: 20px !important;
  font-weight: 500 !important; */
  color:white !important;
}
